:root {
  
}

body {
  font-family: 'Cairo', sans-serif;
  color: #353f3f;

  background-color: #dde1e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #353f3f;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  text-align: center;
}