.btn_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  color: #586868;
  background-color: #dde1e7;

  font-size: 36px;
  font-family: 'Cairo', sans-serif;

  box-shadow: -3px -3px 7px #ffffff73, 
    3px 3px 5px rgba(94, 104, 121, .288);

}

.btn_container:hover {
  box-shadow: inset -3px -3px 7px #ffffff73, 
  inset 3px 3px 5px rgba(94, 104, 121, .288);
}

.btn_container::before {
  content: '';
  position: absolute;
  top: -4%;
  left: -4%;
  width: 110%;
  height: 110%;
  box-shadow: 0 0 20px -8px #586868;
}

.btn_container div {
  font-size: 20px;
  bottom: 10px;
}